.perdeu {
  animation: animacaoPerdeu 5000ms linear infinite;
}

@keyframes animacaoPerdeu {
  0% {
    transform: translate(350px, 20px) rotate(0deg)
  }

  20% {
    transform: translate(350px, 20px) rotate(4.2deg)
  }

  23% {
    transform: translate(350px, 20px) rotate(4.75deg)
  }

  25% {
    transform: translate(350px, 20px) rotate(4.79deg)
  }

  27% {
    transform: translate(350px, 20px) rotate(4.75deg)
  }

  30% {
    transform: translate(350px, 20px) rotate(4.2deg)
  }

  50% {
    transform: translate(350px, 20px) rotate(0deg)
  }

  70% {
    transform: translate(350px, 20px) rotate(-4.2deg)
  }

  73% {
    transform: translate(350px, 20px) rotate(-4.75deg)
  }

  75% {
    transform: translate(350px, 20px) rotate(-4.79deg)
  }

  77% {
    transform: translate(350px, 20px) rotate(-4.75deg)
  }

  80% {
    transform: translate(350px, 20px) rotate(-4.2deg)
  }

  100% {
    transform: translate(350px, 20px) rotate(0deg)
  }
}